.main-body{
    background-color: darkgrey;
}

.header{
    border:3px solid black;
}

.form-style{
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}

.form-block {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.post-board{
    display: inline-block;
    margin-left: 10px;
    margin-top:10px;
}

.post-message{
    margin-top: 10px;
    margin-right: 30px;
    margin-left: 10px;
}

.post-border{
    border:3px solid black;
    border-radius: 5px;
    margin-bottom: 5px;

}

.post-name{
    text-decoration: underline;
}

.post-button{
    float: right;
    margin-right: 30px;
}